<!doctype html>
<html>
<head>
  <title>{{user.name}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/messages.css">
</head>
<body>
  {{{body}}}
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="http://fb.me/react-0.12.2.js"></script>

  {{#ifInDevMode}}
  <script src="/js/build/channels.js"></script>
  <script src="/js/build/messages.js"></script>
  <script src="/js/build/messageclient.js"></script>
  <script src="/js/build/createchannel.js"></script>
  <script src="/js/messages.js"></script>
  {{/ifInDevMode}}

  <script type="text/javascript">
    if (!M.user) {
      M.user = {
        _id: "{{user._id}}",
        username: "{{user.username}}",
        name: "{{user.name}}",
        domain: "{{user.domain}}"
      };
    }
    Mf.renderMessageClient();
    Mf.init();
    Wf.init();
  </script>
</body>
</html>